@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  background: black;
}

/* ─── Tablet Landscape ─────────────────────────────────────── */
@media (max-width: 1180px) and (orientation: landscape) {

  .hero-content {
    transform: scale(0.72);
    transform-origin: top center;
    width: 139%;
    height: 139%;
    left: -19%;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .hero-content {
    transform: scale(0.58);
    transform-origin: top center;
    width: 172%;
    height: 172%;
    left: -36%;
  }
}